@import 'https://fonts.googleapis.com/css?family=Kalam:700|Roboto';

/* Global styles */
body {
	font-family: 'Roboto', sans-serif;
	background: url("../img/concrete_seamless.png");
}
.container {
	padding: 0;
}
.row {
	margin: 0;
}
.btn-group,
#gameResult,
.players,
.panel {
	border: 1px solid #337ab7;
    border-radius: 4px;
}
/* Main */
.main {
	background: url("../img/concrete_seamless.png");
	float: none;
	margin: 20px auto;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 8px 4px #444;
}

/* Game results */
.btn-group .btn {
	padding: 0;
	opacity: 1;
	cursor: auto;
	border: 0;
}
.btn-group .btn div {
	padding: 8px 5px;
}
#gameResult {
	display: none;
	background: #fff;
	padding: 0 10px 1px;
}
#gameResult p {
	line-height: 40px;
}

/* Pick Buttons*/
.pick-buttons {
	text-align: center;
	min-height: 100px;
}
.pick-button {
	display: none;
	width: 80px;
	height: 80px;
	margin: 10px;
}
.pick-button i.fa {
	font-size: 46px;
}

/* Players */
.players {
	padding: 8px 0;
	background: #fff;
	font-size: 15px;
	font-weight: 600;
	min-height: 90px;
}
/* New Game */
.new-game {
	text-align: center;
	padding: 10px 0;
}

/* Game table */
.panel-heading {
	font-size: 15px;
	padding: 6px 10px;
}
.panel-body {
	padding: 0;
}
.panel .table {
	margin-bottom: 0;
}
.panel thead tr th, .panel tbody tr td {
	width: 33.33%;
	text-align: center;
	padding: 6px 8px;
}
#playerPick, #computerPick {
	text-transform: capitalize;
}
